extends layout

block content
  div.row
    div.col-xs-12
      h1= title

  div.row(ng-controller='indexCtrl as ctrl')
    // File upload form
    div.col-xs-12(ng-hide='ctrl.chartData')
      form
        p Upload your Fitbit "Activities" export:
        div.btn.btn-primary(upload-button, url='/upload/activities', param='file', on-upload='ctrl.onUpload(files)', on-success='ctrl.onSuccess(response)')

    // Graph
    div.col-xs-12(ng-show='ctrl.chartData')
      div.row
        // Select field to display
        div.col-xs-12.col-sm-3
          div.form-group
            select.form-control(ng-options='label.field as label.displayName for label in ctrl.chartFields', ng-model='ctrl.selectedField', ng-change='ctrl.chartDataForField(ctrl.responseData, ctrl.selectedField)')

        // Reset button
        div.col-xs-12.col-sm-3
          button.btn.btn-default(ng-click='ctrl.reset()') Reset
      div.row
        div.col-xs-12
          canvas.chart.chart-bar(chart-data='ctrl.chartData', chart-labels='ctrl.chartLabels')
